{
  email {$ACME_EMAIL}
}

www.{$DOMAIN} {
  redir https://{$DOMAIN}{uri} permanent
}

{$DOMAIN} {
  encode gzip zstd

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Cross-Origin-Embedder-Policy "credentialless"
    Permissions-Policy "accelerometer=(), autoplay=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
  }

  reverse_proxy app:3001
}
